    body{
        position: relative;
        margin: 0px;
        background-size: 100%;
    }

    .background{
        position: fixed;
        object-fit: none;
        height: 100%;
        width: 100%;
        background-image: url("../images/Tower-Bridge.jpg");
        z-index: -1;
    }

    h1,
    h2,
    h3{
        font-family: cursive;
    }

    h1{
        margin: 3% 0% 3% 0%;
        padding: 0px 0px 0px 30px;
        font-size: 70px;
        
    }

    h2{
        font-size: 55px;
        text-decoration: underline;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 10% 100% 5%;
        grid-template-areas: 
        "hd hd hd"
        "sd sd sd"
        "main main main"
        "ft ft ft";
        gap: 40px;
    }

    .box{
        border-radius: 10px;
        box-shadow: -5px 10px 15px #000000;
    }

    .header{
        position: fixed;
        width: 100vw;
        padding: 0px 0px 0px 20px;
        color: #ffffff;
        background-color: #00a2ff;
        border-radius: 0px;
        grid-area: hd;
    }

    .sidebar{
        padding: 20px;
        text-align: center;
        grid-area: sd;
        background-color: #ffffff;
    }

    .navbar{
        color: #00a2ff;
        padding: 0px;
        list-style: none;
    }

    ul{
        padding: 0px;
    }

    li{
        font-size: 30px;
        text-decoration: underline;
        text-align: left;
        margin: 0px 3vw 0px 3vw;
    }

    .content{
        margin: 0px 0px 0px 0px;
        grid-area: main;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 30%);
        gap: 40px;
    }

    .child-content{
        height: 100%;
        margin: 0% 5% 0% 5%;
        padding: 0% 0% 0% 0%;
        text-align: center;
        background-color: #dddddd;
    }

    .button{
        font-size: 200%;
        border-radius: 10px;
        box-shadow: -5px 10px 15px #000000;
        background-color: #00a2ff;
        color: #ffffff;
    }

    .button:hover{
        box-shadow: none;
    }

    .card-button{
        margin-top: 5%;
        width: 200px;
        height: 50px;
        height: 10%;
        width: 50%;
    }

    .card-img{
        max-height: 60%;
        height: 100%;
        width: 100%;
    }

    .footer{
        position: relative;
        padding: 0px 0px 0px 20px;
        color: white;
        background-color: #000055;
        grid-area: ft;
    }

    .bottomnav{
        padding: 1% 0% 1% 0%;
    }

    .footer-bar{
        font-size: 30px;
        display: inline;
        padding: 0px 0px 0px 0px;
    }

@media(max-width: 999px){
    li{
        display: inline;
    }
}

@media(min-width: 1000px){

    h1{
        margin: 1% 0% 1% 0%;
        
    }

    .container{
        display: grid;
        grid-template-columns: 5% repeat(3, 20%);
        grid-template-rows: 120px 100% 60px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
        gap: 0px;
    }

    .sidebar{
        max-height: 100%;
        padding: 50px 10px 0px 0px;
    }

    .footer{
        position: fixed;
        width: 100vw;
        bottom: 0px;
    }

    li{
        text-align: left;
        margin: 100px 0px 100px 50px;
    }

    .content{
        max-height: 100%;
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 70%;
        gap: 40px;
        margin: 5% 20px 40px 20px;
    }

    .child-content{
        padding: 0%;
    }

    .card-img{
        max-height: 40%;
    }

    .button{
        font-size: 150%;
    }

}
